@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Azeret Mono", monospace;
}
nav{
    max-width: 1440px;
    margin: 35px auto;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}
nav .nav-logo{
    border: none;
    padding: 21px 24px;
    background: none;
    font-size: 28px;
    font-weight: 800;
    cursor: pointer;
    transition: ease 500ms;
}
nav .nav-logo:hover{
    transform: translateX(20px);
}
nav .resume-btn{
    font-size: 20px;
    font-weight: 600;
    padding: 17px 24px;
    color: #0D1321;
    background: none;
    border-radius: 8px;
    cursor: pointer;
    transition: ease 400ms;
}
nav .resume-btn:hover{
    background-color: #0D1321;
    color: white;
}
/* Header container */
header{
    width: 100%;
    /* height: 652px; */
    background: url('../assets/Hero-bg.png') no-repeat;
    background-size: cover;

}
.header-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 26px 0 44px 0;
    text-align: center;
}
.header-container > h2{
    margin: 32px auto;
    font-size: 48px;
    font-weight: 800;
    max-width: 990px;
    line-height: 68px;
}

.header-container > p{
    color: #565a64;
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto;
    margin-bottom: 32px;
    max-width: 852px;


}
.header-container .contact-btn{
    padding: 21px 24px;
    background-color: #0D1321;
    color: #ffffff;
    margin: 32px 0;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    transition: ease 400ms;
    cursor: pointer;

}

.header-container .contact-btn:hover{
    background-color: transparent;
    color:#0D1321;
}

.main-container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 148px;
     
}
.main-container > .web-dev-container{
    margin: 74px 0;
    background-color: #FAFAFB;
    padding: 80px 97px;
    border-radius: 16px;
}
.web-dev-container > h2{
    color:#0D1321;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}
.web-dev-container >p{
    color: #555963;
    margin: 24px 0 48px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}
.web-dev-container .web-dev-box{
    color: #545863;
    background-color: #FCFCFD;
    padding: 48px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    transition: ease-in-out 300ms;
}
.web-dev-container .web-dev-box:hover{
    transform: scale(1.05);
}
.web-dev-container .web-dev-box:nth-child(even){
    margin: 24px 0;
    flex-direction: row-reverse;
}
.web-dev-container .web-dev-box  h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}
.web-dev-container .web-dev-box  p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 16px 0 32px 0;
}
.web-dev-container .web-dev-box  button{
    font-size: 20px;
    font-weight: 600;
    padding: 12px 20px;
    color: #545863;
    border: 1px solid #444746;
    cursor: pointer;
}
.inspiration-section{
    text-align: center;
    margin-bottom: 149px;
}
.inspiration-section > h2, .current-target > h2{
    color:#0D1321;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
}
.inspiration-section > p, .current-target > p{
    max-width: 852px;
    color: #555963;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 24px auto 48px;
    text-align: center;
}
.inspiration-section .video-container{
    max-width: 1140px;
    padding: 32px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}
.current-target{
    margin-bottom: 100px;
}
.current-target .target-card{
    max-width: 364px;
    background-color: #f850262d;
    padding: 40px;
    border-radius: 16px;

}
.current-target .target-card h2{
    font-size: 24px;
    font-weight: 800;
    margin-top: 24px;
}
.current-target .target-card p{
    font-size: 16px;
    font-weight: 400;
    color: #555963;
    margin: 8px 0 24px 0;
}
.current-target .target-card a{
    text-decoration: underline;
    color: #0D1321;
    
}
.current-target .target-card-container{
    display: flex;
    gap: 24px;
}
.target-card-container .target-card:nth-child(1){
    background-color: #FF4C1E0D;
}
.target-card-container .target-card:nth-child(2){
    background-color: #004CE80D;
}
.target-card-container .target-card:nth-child(3){
    background-color: #FFDF000D;
}
.support-container{
    max-width: 1140px;
    background: url('../assets/handshake.jpg') no-repeat;
    border-radius: 16px;
    text-align: center;
    padding: 64px 48px;
    margin: 80px 0;
}
/* .support-container .support-content{

} */
.support-container .support-content h2{
    font-size: 32px;
    font-weight: 700;
    margin: 16px 0;
    color: #ffffff;
}
.support-container .support-content p{
    font-size: 16px;
    font-weight: 400;
    color: #CECAC8;
    margin-bottom: 24px;
}
.support-content #input-area{
    width: 548px;
    padding: 19px 20px 19px 20px;
    border-radius: 8px;
    outline: none;
    border: none;
}
.support-content button{
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 17px 20px 17px 20px;
    border: none;
}